<h1>$cuisine.getType()</h1>

<ul>
  #foreach($restaurant in $cuisine.getRestaurants())
  <li>$restaurant.getName(): $restaurant.getDescription()</li>
  #end
</ul>

<a href="/cuisines/$cuisine.getId()/restaurants/new" class="btn btn-primary">Add a new restaurant</a>
<a href="/cuisines" class="btn btn-primary">View cuisines</a>
