<h1>Add a Cuisine</h1>

<form action="/cuisines" method="post">
  <label for="cuisine_type">Enter cuisine here:</label>
  <input id="cuisine_type" name="cuisine_type" type="text">
  <button type="submit" class="btn btn-success">Add Cuisine</button>
</form>
